img {
    width:350px;
    height: 350px;
}
div {
    color: rgb(30, 255, 0);
    background-color: black;
    margin:0px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button {
    padding: 10px;
    width: 250px;
    height:100px;
    border-radius: 80px;
    background-color: rgb(0, 255, 238);
}
label{
    font-size:30px;
}
footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    bottom:0;
    position: fixed;
    padding:10px;
    width:100%;
    font-size: 22px !important;
    border-radius: 0px !important;
}
